*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url('img.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 20px;
    cursor: default; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 60px;
    border-radius: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #0056b3;
}


input[type="submit"]:hover::before,
input[type="reset"]:hover::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #007bff, 0 0 20px #007bff, 0 0 40px #007bff, 0 0 80px #007bff;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}
